.drawerRoot {
    height: 100%;
    overflow: auto;
}

div:has(> .drawerRoot) {
    height: 100%;
}

.drawerInner {
    position: relative;
}
.drawerContent {
    box-shadow: none;
    height: inherit;
    width: inherit;
}

@media screen and (max-width: 680px) {
    .drawerInner {
        position: fixed;
    }    
}