
.sidenav {
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  z-index: 1;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.mainview {
  margin-left: var(--sidenav-width);
  padding: 10px;
  box-sizing: border-box;

  height: 100%;
}