.shaderControlWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
}

.shaderControl {
    flex: 0 1 100px;
}


@media screen and (min-width: 48em) {

    .shaderControlWrapper {
        flex-direction: column;
    }  

    .shaderControl {
        flex: 0 1 auto;
    }

}